@font-face {
  font-family: 'Inter';
  src:
    local('Inter Regular'),
    url('../assets/font/Inter-Italic-VariableFont_opsz\,wght.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter SemiBold'),
    url('../assets/font/Inter-VariableFont_opsz\,wght.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* colors */
:root {
  --color-bg: #e1d4c9;
  --color-bg-dark: #665f55;
  --color-accent: #b0907a;
  --color-text-dark: #403f3d;
  --color-1: #c1b6ad;
  --color-2: #292826;
}

[data-theme='dark'] {
  --color-bg: #292826;
  --color-bg-dark: #403f3d;
  --color-accent: #d4bba0;
  --color-text-dark: #e1d4c9;
  --color-1: #403f3d;
  --color-2: #e1d4c9;
}

/* base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  min-height: 100vh;
  color: var(--color-text-dark);
  background: var(--color-bg);
  transition: 0.3s;
}

a {
  text-decoration: none;
  color: var(--color-text-dark);
}

li {
  list-style: none;
}

h1 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.1;
}

h2 {
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 1.1;
}

.text-accent {
  font-style: italic;
  color: var(--color-accent);
}

.medium {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.slider__btn {
  width: 3.75em;
  height: 3.75em;
  border-radius: 6.25rem;
  background: var(--color-bg);
  border: 1px solid var(--color-bg-dark);
  color: var(--color-bg-dark);
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.theme-switch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.1875rem;
  background: var(--color-bg);
  border: 1px solid var(--color-bg-dark);
  border-radius: 6.25rem;
  cursor: pointer;
  transition: all 0.3s;
}

.theme-switch_light {
  background: var(--color-accent);
  border-radius: 6.25rem;
}

/* enjoy */
.enjoy__video {
  width: 100%;
  object-fit: cover;
  border-radius: 2.5rem;
}

/* favorites */
.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* about */
.about__container-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

/* mobile-app */
.mobile-app {
  display: flex;
  align-items: center;
}

/* menu */
.menu__tab-buttons {
  text-align: center;
}

.tab-button {
  background: var(--color-bg);
  border-radius: 6.25rem;
}

.menu__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 19.375rem);
  gap: 2.5rem;
}

.menu__item {
  overflow: hidden;
  border-radius: 2.5rem;
}

.menu__item__content {
  padding: 1.25rem;
}

/* footer */
.footer {
  display: flex;
  border-radius: 2.5rem;
  background: var(--color-bg-dark);
}